<!-- 關於介面 -->
<div class="about-interface">
    <nav>
        <ul>
            <li class="siteLogo"><a href="#welcome" class="navbarLink" title="首頁">測速照相收入地圖</a></li>
            <li><a href="#map"     class="navbarLink" title="地圖">地圖</a></li>
            <li><a href="#ranking" class="navbarLink" title="排行榜">排行榜</a></li>
            <li><a href="#about"   class="navbarLink" title="關於">關於</a></li>
        </ul>
    </nav>
    <div id="coverImage" class="coverImage" resizable></div>
    <h1 class="effectEmerge">關於測速照相收入地圖</h1>
    <article class="effectEmerge">
        <h2>簡介</h2>
        <p>測速照相遍布全臺各地的主要幹道，儘管各地方政府設置之本意為減少因超速所導致的車禍發生，但依然有許多超速肇事的憾事發生。<br />我們以此為契機，結合各點位超速違規數量並換算為開罰金額，藉以視覺化各執法路段的超速頻率情形。</p>
    </article>
    <article class="effectEmerge">
        <h2>計算方式</h2>
        <p>根據內政部警政署規定，高快速公路行駛超過速限時速 10～20 公里處 3,000 元罰鍰，超過速限時速 20～40公里處 3,500 元罰鍰。<br />高快速公路的計算方式為取兩類平均，即一筆取締紀錄為 3,250 元。<br />一般道路則分汽機車兩大類，其中汽車超速 10～20 公里處 1,600 元罰鍰，超速 20～40公里處 1,800 元罰鍰；<br />機車超速 10～20 公里處 1,200 元罰鍰，超速 20～40公里處 1,400 元罰鍰。<br />一般道路的計算方式為兩車種各自取平均後，再依據取締數量比例加權平均（汽車：機車為 7:3），即一筆取締紀錄為 1,580 元。</p>
    </article>
    <article class="effectEmerge">
        <h2>製作團隊</h2>
        <p>本網站為國立臺灣大學地理環境資源學系 113 學年度第 1 學期「網際網路地理資訊系統」課程小組期末專題之成品。以下為小組成員：</p>
        <h3>何長祐</h3>
        <div class="effectEmerge">
            <img src="./assets/image/profile-1.jpg" alt="何長祐" />
            <p class="subtitle">前端設計與開發（HTML、CSS、JavaScript）<br />後端實作（PHP）</p>
        </div>
        <h3>鄒志揚</h3>
        <div class="effectEmerge">
            <img src="./assets/image/profile-2.jpg" alt="鄒志揚" />
            <p class="subtitle">前端設計（CSS）、資料處理</p>
        </div>
        <h3>李承翰</h3>
        <div class="effectEmerge">
            <img src="./assets/image/profile-3.jpg" alt="李承翰" />
            <p class="subtitle">資料處理</p>
        </div>
        <h3>蘇昱齊</h3>
        <div class="effectEmerge">
            <img src="./assets/image/profile-4.jpg" alt="蘇昱齊" />
            <p class="subtitle">前端設計（HTML、CSS）</p>
        </div>
    </article>
    <article class="effectEmerge">
        <h2>資料來源</h2>
        <h3>執法點位</h3>
        <ul class="effectEmerge">
            <li><a href="https://data.gov.tw/dataset/7320" title="測速執法設置點">測速執法設置點</a>，來自政府資料開放平臺</li>
            <li><a href="https://www.cypd.gov.tw/upfiles/files/嘉義縣警察局固定式科學儀器交通執法設備設置地點一覽表1131118.pdf" title="固定式科學儀器交通執法設備設置地點一覽表">固定式科學儀器交通執法設備設置地點一覽表</a>，來自嘉義縣警察局</li>
            <li><a href="https://data.tainan.gov.tw/dataset/policedata028" title="臺南市固定式交通違規照相設備設置地點">臺南市固定式交通違規照相設備設置地點</a>，來自臺南市政府資料開放平臺</li>
        </ul>
        <h3>事故點位</h3>
        <ul class="effectEmerge">
            <li><a href="https://data.gov.tw/dataset/158864" title="109年傷亡道路交通事故資料">109年傷亡道路交通事故資料</a>，來自政府資料開放平臺</li>
            <li><a href="https://data.gov.tw/dataset/158865" title="110年傷亡道路交通事故資料">110年傷亡道路交通事故資料</a>，來自政府資料開放平臺</li>
            <li><a href="https://data.gov.tw/dataset/161199" title="111年傷亡道路交通事故資料">111年傷亡道路交通事故資料</a>，來自政府資料開放平臺</li>
            <li><a href="https://data.gov.tw/dataset/167905" title="112年傷亡道路交通事故資料">112年傷亡道路交通事故資料</a>，來自政府資料開放平臺</li>
        </ul>
        <h3>取締相關</h3>
        <ul class="effectEmerge">
            <li><a href="https://data.gov.tw/dataset/13908" title="測速執法點取締件數資料">測速執法點取締件數資料</a>，來自政府資料開放平臺</li>
            <li><a href="https://www.npa.gov.tw/ch/app/data/doc?module=wg057&detailNo=1310850596705669120&type=s" title="警政統計通報（113年第48週）">警政統計通報（113年第48週）</a>，來自內政部警政署</li>
            <li><a href="https://www.npa.gov.tw/ch/app/news/doc?detailNo=801716221895507968&module=clarification&type=s" title="網路流傳「道路交通法規修法加重處罰」謠言澄清一覽表">網路流傳「道路交通法規修法加重處罰」謠言澄清一覽表</a>，來自內政部警政署</li>
        </ul>
        <h3>其他圖層</h3>
        <ul class="effectEmerge">
            <li><a href="https://www.openstreetmap.org/copyright" title="OpenStreetMap">OpenStreetMap</a>，來自 OpenStreetMap Contributors</li>
            <li><a href="https://data.gov.tw/dataset/7442" title="直轄市、縣市界線(TWD97經緯度)">直轄市、縣市界線(TWD97經緯度)</a>，來自政府資料開放平臺</li>
            <li><a href="http://wmts.nlsc.gov.tw/wmts" title="國土測繪圖資網路地圖服務系統 WMTS 服務">國土測繪圖資網路地圖服務系統 WMTS 服務</a>，來自內政部國土測繪中心</li>
        </ul>
        <h3>框架工具</h3>
        <ul class="effectEmerge">
            <li><a href="https://d3js.org/" title="D3.js">D3.js</a></li>
            <li><a href="https://openlayers.org/en/latest/apidoc/" title="OpenLayers">OpenLayers</a></li>
            <li><a href="https://realfavicongenerator.net/" title="RealFaviconGenerator">RealFaviconGenerator</a></li>
        </ul>
        <h3>圖片素材</h3>
        <ul class="effectEmerge">
            <li><a href="https://fonts.google.com/" title="Google Fonts">Google Fonts</a></li>
            <li>網站圖示、本頁圖片版權皆為本網站所有。</li>
        </ul>
    </article>
    <article class="effectEmerge">
        <h2>聲明</h2>
        <p>本網站所提供之測速照相、科技執法裝置與收入資訊僅供參考，實際設置位置、限速、舉發項目仍以轄區執法單位公布資訊為準。</p>
    </article>
    <footer>
        <p>測速照相收入地圖製作團隊，2024－2025</p>
    </footer>
</div>