<!-- 歡迎頁面 -->
<div class="welcome-interface">
    <nav>
        <ul>
            <li class="siteLogo"><a href="#welcome" class="navbarLink" title="首頁">測速照相收入地圖</a></li>
            <li><a href="#map"     class="navbarLink" title="地圖">地圖</a></li>
            <li><a href="#ranking" class="navbarLink" title="排行榜">排行榜</a></li>
            <li><a href="#about"   class="navbarLink" title="關於">關於</a></li>
        </ul>
    </nav>
    <div id="coverMap" class="coverMap"></div>
    <h1 class="effectEmerge">今天想看哪裡的測速照相？</h1>
    <div class="buttonLinks">
        <button class="effectPan buttonLink" title="嘉義縣" data-location="[120.520, 23.449]" data-key="嘉義縣">嘉義縣</button>
        <button class="effectPan buttonLink" title="臺南市" data-location="[120.325, 23.151]" data-key="臺南市">臺南市</button>
    </div>
    <footer>
        <p>測速照相收入地圖製作團隊，2024－2025</p>
    </footer>
</div>